.App {
  font-family: 
  text-align: center;

}

.test {
  background-color: orange;
  font-size: 30px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
